PORT=8001
BRIDGE_HORIZON_URL=https://horizon-testnet.stellar.org
BRIDGE_ASSET_CODE=PHP
BRIDGE_ASSET_ISSUER=SOME_ISSUER
DATABASE_URL=postgres://postgres@db:5432/postgres?sslmode=disable
BRIDGE_AUTHORIZING_SEED=AUTH_SEED
BRIDGE_RECEIVING_ACCOUNT_ID=RACCOUNTID
BRIDGE_BASE_SEED=BASE_SEED
BRIDGE_RECEIVE_CALLBACK_URL=RCU
BRIDGE_ERROR_CALLBACK_URL=ECU
