# Bridge server config.toml example

port = "{{PORT}}"
horizon = "{{HORIZON_URL}}"
network_passphrase = "{{NETWORK_PASSPHRASE}}"
api_key = "{{API_KEY}}"

[database]
type = "postgres"
url = "{{DATABASE_URL}}"
