port = "8001"
horizon = "https://horizon-testnet.stellar.org"
network_passphrase = "Test SDF Network ; September 2015"

[database]
type = "postgres"
url = "postgres://postgres:@db:5432/postgres?sslmode=disable"
